.portion-table-container {
    margin-top: 100px;
    width: 50%;

    > div {
        display: flex;
    }
}

.search-input-row {
    display: flex;
}

thead tr {
    border-bottom: 1px solid $color-white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

table,
tr {
    width: 100%;
}

tr,
.table-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
