.search-input-row {
    display: flex;
    margin-top: 100px;
}

.portions-table-container {
    width: 50%;
    display: flex;
}

thead tr {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-white;
}

table, tr {
    width: 100%;
}

tr, .table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
