$form-width: 260px;
$trans-time: 300ms;

input {
    background: none;
    border: 0;
    border-bottom: 1px solid $color-white;
    border-radius: 0;
    color: $color-white;
    font-size: 18px;
    margin: 0;
    width: $form-width;

    &:focus {
        outline: none;
    }
}

form {
    text-align: center;
}

.input-field {
    position: relative;

    input {
        display: block;
    }

    input:focus ~ .input-label,
    .has-value ~ .input-label {
        color: $color-primary;
        font-size: 12px;
        top: -14px;
    }

    input:focus ~ .bar::before,
    .has-value ~ .bar::before {
        width: 100%;
    }
}

.input-label {
    color: $color-white;
    font-size: 16px;
    font-weight: normal;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: $trans-time ease all;
}

.bar {
    display: block;
    position: relative;
    width: 100%;

    &::before {
        background: $color-primary;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0%;
        position: absolute;
        transition: $trans-time ease all;
        width: 0;
    }
}
