$form-width: 260px;

input {
    background: none;
    color: $color-white;
    border-bottom: 1px solid $color-white;
    border-radius: 0;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: $form-width;

    &:focus {
        outline: none;
    }
}
