$color-primary: #e68e7c;
$color-error: #fc7e7c;
$color-text-light: #999;
$color-text-darkt: #777;
$color-background-light: #fff;
$color-background-mid: #f6ecdf;
$color-background-dark: #121212;
$color-grey-light-1: #f7f7f7;
$color-black: #000;
$color-white: #fff;
$color-border-light: #eee;
